header, footer {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #7e8187;
}

.nav-title {
  display: inline-block;
}

.nav-links {
  display: flex;
  padding-left: 0;
}

.nav-links li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}

.togglebar {
  align-items: center;
  display: flex;
  width: 100%;
  border: 1px solid #7e8187;
  border-radius: 25px;
}

.toggle-search {
  display: flex;
  margin: 0;
}

.toggle-search li {
  list-style-type: none;
  margin-top: 3px;
  margin-bottom: 3px;
}

input {
  color: #7e8187;
  border: none;
}

#font-size {
  border: none;
}